# assorted source directories not built with dockerfile
site
charts
keps
examples
.git
.gitignore
.github
.openvex

# Below matches .gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
artifacts
testbin/*
.DS_Store
go.work*
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# build_logs directory, where by default are downloaded artifacts from the CI job
build_logs

# editor and IDE paraphernalia
.idea
.vscode
*.nix
*.swp
*.swo
*~

# Local Netlify folder
.netlify

# Directory with CRDs for dependencies
dep-crds

kueue.yaml
node_modules
