apiVersion: v1
kind: Service
metadata:
  name: {{ include "kueue.fullname" . }}-controller-manager-metrics-service
  namespace: '{{ .Release.Namespace }}'
  labels:
  {{- include "kueue.labels" . | nindent 4 }}
spec:
  type: {{ .Values.metricsService.type }}
  selector:
  {{- include "kueue.selectorLabels" . | nindent 4 }}
  ports:
  {{- .Values.metricsService.ports | toYaml | nindent 2 -}}
