apiVersion: config.kueue.x-k8s.io/v1alpha2
kind: Configuration
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: :8080
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: c1f6bfd2.kueue.x-k8s.io
controller:
  groupKindConcurrency:
    Job.batch: 3
    LocalQueue.kueue.x-k8s.io: 3
    ClusterQueue.kueue.x-k8s.io: 3
    ResourceFlavor.kueue.x-k8s.io: 3
    Workload.kueue.x-k8s.io: 3
clientConnection:
  qps: 50
  burst: 100
#waitForPodsReady:
#  enable: true
#manageJobsWithoutQueueName: true
#namespace: ""
#internalCertManagement:
#  enable: false
#  webhookServiceName: ""
#  webhookSecretName: ""
