apiVersion: config.kueue.x-k8s.io/v1beta2
kind: Configuration
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: :8443
# enableClusterQueueResources: true
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: c1f6bfd2.kueue.x-k8s.io
controller:
  groupKindConcurrency:
    Job.batch: 5
    Pod: 5
    Workload.kueue.x-k8s.io: 5
    LocalQueue.kueue.x-k8s.io: 1
    Cohort.kueue.x-k8s.io: 1
    ClusterQueue.kueue.x-k8s.io: 1
    ResourceFlavor.kueue.x-k8s.io: 1
clientConnection:
  qps: 50
  burst: 100
#pprofBindAddress: :8083
#waitForPodsReady:
#  timeout: 5m
#  recoveryTimeout: 3m
#  blockAdmission: false
#  requeuingStrategy:
#    timestamp: Eviction
#    backoffLimitCount: null # null indicates infinite requeuing
#    backoffBaseSeconds: 60
#    backoffMaxSeconds: 3600
#manageJobsWithoutQueueName: true
#managedJobsNamespaceSelector:
#  matchExpressions:
#    - key: kubernetes.io/metadata.name
#      operator: NotIn
#      values: [ kube-system, kueue-system ]
#internalCertManagement:
#  enable: false
#  webhookServiceName: ""
#  webhookSecretName: ""
integrations:
  frameworks:
  - "batch/job"
  - "kubeflow.org/mpijob"
  - "ray.io/rayjob"
  - "ray.io/raycluster"
  - "ray.io/rayservice"
  - "jobset.x-k8s.io/jobset"
  - "kubeflow.org/paddlejob"
  - "kubeflow.org/pytorchjob"
  - "kubeflow.org/tfjob"
  - "kubeflow.org/xgboostjob"
  - "kubeflow.org/jaxjob"
  - "workload.codeflare.dev/appwrapper"
  - "trainer.kubeflow.org/trainjob"
  - "pod"
  - "deployment"
  - "statefulset"
  - "leaderworkerset.x-k8s.io/leaderworkerset"
#  externalFrameworks:
#  - "Foo.v1.example.com"
#fairSharing:
#  preemptionStrategies: [LessThanOrEqualToFinalShare, LessThanInitialShare]
#admissionFairSharing:
#  usageHalfLifeTime: "168h" # 7 days
#  usageSamplingInterval: "5m"
#  resourceWeights: # optional, defaults to 1 for all resources if not specified
#    cpu: 0    # if you want to completely ignore cpu usage
#    memory: 0 # ignore completely memory usage
#    example.com/gpu: 100 # and you care only about GPUs usage
#resources:
#  excludeResourcePrefixes: []
#  transformations:
#  - input: nvidia.com/mig-4g.5gb
#    strategy: Replace | Retain
#    outputs:
#      example.com/accelerator-memory: 5Gi
#      example.com/accelerator-gpc: 4
#objectRetentionPolicies:
#  workloads:
#    afterFinished: null # null indicates infinite retention, 0s means no retention at all
#    afterDeactivatedByKueue: null # null indicates infinite retention, 0s means no retention at all
