# Configuration for the Kueue Prepopulator component
kueuePopulator:
  image:
    # -- Populator's image repository
    repository: us-central1-docker.pkg.dev/k8s-staging-images/kueue/kueue-populator
    # -- Populator's image tag
    tag: main
    # -- Populator's image pullPolicy.
    # This should be set to 'IfNotPresent' for released version
    pullPolicy: Always
  
  # -- Image pull secrets for the populator
  imagePullSecrets: []
  
  # Configuration for the controller
  config:
    # -- Name of the default LocalQueue to create in namespaces
    localQueueName: "default"
    # -- Name of the default ClusterQueue to create and reference in LocalQueues
    clusterQueueName: "cluster-queue"
    
    # -- Resources to configure in the default ResourceFlavor and ClusterQueue
    resources:
      - name: "cpu"
        nominalQuota: "10"
      - name: "memory"
        nominalQuota: "10Gi"
      - name: "nvidia.com/gpu"
        nominalQuota: "100"
    
    # -- List of topology levels. Enables Topology creation if not empty.
    # Example:
    # tasLevels:
    #   - name: cloud.google.com/gke-nodepool
    tasLevels: []
    
    # -- Node labels to associate with the default ResourceFlavor
    # Example:
    # nodeLabel:
    #   cloud.google.com/gke-nodepool: "default-pool"
    nodeLabel: {}

    # -- Label selector to filter namespaces where the default LocalQueue will be created.
    managedJobsNamespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values: [ "kube-system", "kueue-system" ]

  # -- Resource requests and limits for the populator deployment
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 100m
      memory: 100Mi

# Default values for the dependency 'kueue'
kueue:
  # -- Enable the Kueue subchart
  enabled: true
  controllerManager:
    featureGates:
      # -- Enable TopologyAwareScheduling feature gate
      - name: TopologyAwareScheduling
        enabled: true
