# Configuration for the Kueue Prepopulator component
kueuePopulator:
  image:
    # -- Image repository for the populator
    # REQUIRED: Specify the repository where your kueue-populator image is pushed.
    # Example: <YOUR_REGISTRY>/kueue-populator
    repository: null
    # -- Image tag for the populator
    # REQUIRED: Specify the tag of the image you want to deploy.
    # Example: latest
    tag: null
    # -- Image pull policy
    pullPolicy: IfNotPresent
  
  # -- Image pull secrets for the populator
  imagePullSecrets: []
  
  # Configuration for the controller
  config:
    # -- Configuration for the default LocalQueue
    localQueue:
      # -- Name of the default LocalQueue to create in namespaces
      name: "default"
    
    # -- Configuration for the default ClusterQueue
    # If not set, the ClusterQueue will not be created.
    clusterQueue:
      # -- Name of the default ClusterQueue
      name: "cluster-queue"
      # -- Resources to configure in the default ResourceFlavor and ClusterQueue
      resources:
        - name: "cpu"
          nominalQuota: "10"
        - name: "memory"
          nominalQuota: "10Gi"
        - name: "nvidia.com/gpu"
          nominalQuota: "100"

    # -- Configuration for Topology Aware Scheduling
    # If not set, Topology resources will not be created.
    topology:
      # -- List of topology levels.
      # Example:
      # levels:
      #   - nodeLabel: cloud.google.com/gke-nodepool
      levels: []

    # -- Configuration for the default ResourceFlavor
    resourceFlavor:
      # -- Node labels to associate with the default ResourceFlavor
      # Example:
      # nodeLabels:
      #   cloud.google.com/gke-nodepool: "default-pool"
      nodeLabels: {}

    # -- Label selector to filter namespaces where the default LocalQueue will be created.
    managedJobsNamespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values: [ "kube-system", "kueue-system" ]

# Default values for the dependency 'kueue'
kueue:
  # -- Enable the Kueue subchart
  enabled: true
  controllerManager:
    featureGates:
      # -- Enable TopologyAwareScheduling feature gate
      - name: TopologyAwareScheduling
        enabled: true
