# Configuration for the Kueue Prepopulator component
kueuePopulator:
  image:
    # -- Image repository for the populator
    # REQUIRED: Specify the repository where your kueue-populator image is pushed.
    # Example: <YOUR_REGISTRY>/kueue-populator
    repository: null
    # -- Image tag for the populator
    # REQUIRED: Specify the tag of the image you want to deploy.
    # Example: latest
    tag: null
    # -- Image pull policy
    pullPolicy: IfNotPresent
  
  # -- Image pull secrets for the populator
  imagePullSecrets: []
  
  # Configuration for the controller
  config:
    # -- Name of the default LocalQueue to create in namespaces
    localQueueName: "default"
    # -- Name of the default ClusterQueue to create and reference in LocalQueues
    clusterQueueName: "cluster-queue"
    
    # -- Resources to configure in the default ResourceFlavor and ClusterQueue
    resources:
      - name: "cpu"
        nominalQuota: "10"
      - name: "memory"
        nominalQuota: "10Gi"
      - name: "nvidia.com/gpu"
        nominalQuota: "100"
    
    # -- List of topology levels. Enables Topology creation if not empty.
    # Example:
    # tasLevels:
    #   - name: cloud.google.com/gke-nodepool
    tasLevels: []
    
    # -- Node labels to associate with the default ResourceFlavor
    # Example:
    # nodeLabel:
    #   cloud.google.com/gke-nodepool: "default-pool"
    nodeLabel: {}

    # -- Label selector to filter namespaces where the default LocalQueue will be created.
    managedJobsNamespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values: [ "kube-system", "kueue-system" ]

  # -- Resource requests and limits for the populator deployment
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 100m
      memory: 100Mi

# Default values for the dependency 'kueue'
kueue:
  # -- Enable the Kueue subchart
  enabled: true
  controllerManager:
    featureGates:
      # -- Enable TopologyAwareScheduling feature gate
      - name: TopologyAwareScheduling
        enabled: true
