apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
  {{- include "kueue.labels" . | nindent 4 }}
  name: '{{ include "kueue.fullname" . }}-manager-role'
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - limitranges
      - namespaces
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/finalizers
    verbs:
      - get
      - update
  - apiGroups:
      - ""
    resources:
      - pods/status
    verbs:
      - get
      - patch
  - apiGroups:
      - ""
    resources:
      - podtemplates
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingadmissionpolicies
      - validatingadmissionpolicybindings
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - autoscaling.x-k8s.io
    resources:
      - provisioningrequests
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - autoscaling.x-k8s.io
    resources:
      - provisioningrequests/status
    verbs:
      - get
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs/finalizers
      - jobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - flowcontrol.apiserver.k8s.io
    resources:
      - flowschemas
      - prioritylevelconfigurations
    verbs:
      - list
      - watch
  - apiGroups:
      - flowcontrol.apiserver.k8s.io
    resources:
      - flowschemas/status
    verbs:
      - patch
  - apiGroups:
      - jobset.x-k8s.io
    resources:
      - jobsets
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - jobset.x-k8s.io
    resources:
      - jobsets/finalizers
    verbs:
      - get
      - update
  - apiGroups:
      - jobset.x-k8s.io
    resources:
      - jobsets/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - kubeflow.org
    resources:
      - mpijobs
      - mxjobs
      - paddlejobs
      - pytorchjobs
      - tfjobs
      - xgboostjobs
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kubeflow.org
    resources:
      - mpijobs/finalizers
      - mxjobs/finalizers
      - mxjobs/status
      - paddlejobs/finalizers
      - pytorchjobs/finalizers
      - tfjobs/finalizers
      - xgboostjobs/finalizers
    verbs:
      - get
      - update
  - apiGroups:
      - kubeflow.org
    resources:
      - mpijobs/status
      - paddlejobs/status
      - pytorchjobs/status
      - tfjobs/status
      - xgboostjobs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - kueue.x-k8s.io
    resources:
      - admissionchecks
      - clusterqueues
      - cohorts
      - localqueues
      - workloads
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kueue.x-k8s.io
    resources:
      - admissionchecks/finalizers
      - clusterqueues/finalizers
      - localqueues/finalizers
      - resourceflavors/finalizers
      - workloads/finalizers
    verbs:
      - update
  - apiGroups:
      - kueue.x-k8s.io
    resources:
      - admissionchecks/status
      - clusterqueues/status
      - localqueues/status
      - multikueueclusters/status
      - workloads/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - kueue.x-k8s.io
    resources:
      - multikueueclusters
      - multikueueconfigs
      - provisioningrequestconfigs
      - topologies
      - workloadpriorityclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - kueue.x-k8s.io
    resources:
      - resourceflavors
    verbs:
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - node.k8s.io
    resources:
      - runtimeclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ray.io
    resources:
      - rayclusters
      - rayjobs
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ray.io
    resources:
      - rayclusters/finalizers
      - rayclusters/status
      - rayjobs/finalizers
      - rayjobs/status
    verbs:
      - get
      - update
  - apiGroups:
      - scheduling.k8s.io
    resources:
      - priorityclasses
    verbs:
      - get
      - list
      - watch
