# permissions for end users to view tfjobs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ include "kueue.fullname" . }}-tfjob-viewer-role'
  labels:
  {{- include "kueue.labels" . | nindent 4 }}
    rbac.kueue.x-k8s.io/batch-admin: "true"
    rbac.kueue.x-k8s.io/batch-user: "true"
rules:
  - apiGroups:
      - kubeflow.org
    resources:
      - tfjobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - kubeflow.org
    resources:
      - tfjobs/status
    verbs:
      - get
