---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: preemption-cost-controller-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - patch
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - workloads
  verbs:
  - get
  - list
  - watch
