# Clusterloader home directory (checkout https://github.com/kubernetes/perf-tests)
export CL2_HOME_DIR="/Users/johny/perf-tests/clusterloader2"

# Run the performance test with Kueue (this requires Kueue to be pre-deployed to the cluster)
# or without Kueue
export USE_KUEUE=false

# Test iterations:
# number-of-small-jobs number-of-large-jobs job-replica-running-time test-timeout cluster-queue-CPU-quota cluster-queue-memory-quota
export EXPERIMENTS=(
    "10 2 0 2s 3m 100 100Gi"
    "20 2 0 2s 5m 100 100Gi"
)

# Kubeconfig file location
export KUBECONFIG="$HOME/.kube/config"

# Kubernetes kind
export PROVIDER="gke"
