apiVersion: v1
kind: Service
metadata:
  name: '{{ include "kueue.fullname" . }}-visibility-server'
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: 8082
  selector:
    control-plane: controller-manager
