# shellcheck configuration file
# see: https://github.com/koalaman/shellcheck/wiki

# Allow following sourced files that are not specified in the command,
# we need this because we specify one file at a time in order to trivially
# detect which files are failing
external-sources=true
