apiVersion: v1
kind: Service
metadata:
  name: '{{ include "kueue.fullname" . }}-webhook-service'
  namespace: '{{ .Release.Namespace }}'
spec:
  type: {{ .Values.webhookService.type }}
  selector:
    control-plane: controller-manager
  {{- include "kueue.selectorLabels" . | nindent 4 }}
  ports:
  {{- .Values.webhookService.ports | toYaml | nindent 2 -}}
