{{ $filepath := .Get "filepath" }}
{{ $filename := (path.Split $filepath).File}}
{{ $codelang := .Get "language" | default (path.Ext $filename | strings.TrimPrefix ".") }} 
{{ $path := (printf "static/examples/%s"  $filepath )}}
{{ $ghlink := printf "/examples/%s"  $filepath | safeURL }}
{{ $code:= readFile $path | replaceRE "^---[\\s\\S]+?---" "" | safeHTML }}
[{{ $code }}]
<div class="highlight">
    <a href="{{$ghlink}}" download="{{$filename}}" class="text-end">
        <i class="fa-solid fa-file-arrow-down"></i>
        {{$filename}}
    </a>
    
</div>




