apiVersion: apps/v1
kind: Deployment
metadata:
  name: localqueue-creator
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: localqueue-creator
  template:
    metadata:
      labels:
        control-plane: localqueue-creator
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - args:
        - "--zap-log-level=2"
        imagePullPolicy: IfNotPresent
        image: localqueue-creator:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 20Mi
      serviceAccountName: localqueue-creator
      terminationGracePeriodSeconds: 10
