+++
title = "Kueue"
linkTitle = "Kueue"

+++

{{< blocks/cover title="Welcome to Kueue" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubernetes-sigs/kueue">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Kubernetes-native Job Queueing</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Kueue is a set of APIs and controller for job queueing.
 
It is a job-level manager that decides when a job should be admitted to start (as in pods can be created) and when it should stop (as in active pods should be deleted).
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/kubernetes-sigs/kueue/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Connect with us" url="https://kubernetes.slack.com" %}}
Talk to contributors on [#sig-scheduling](https://kubernetes.slack.com/archives/C09TP78DV) channel
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="Join the mailing group" url="https://groups.google.com/a/kubernetes.io/g/wg-batch" %}}
Join the conversation on the [mailing group](https://groups.google.com/a/kubernetes.io/g/wg-batch)
{{% /blocks/feature %}}


{{< /blocks/section >}}
