+++
title = "Kueue"
linkTitle = "Kueue"
description = "Kueue 是一个云原生的作业队列系统，适用于 Kubernetes 集群中的批处理、HPC、AI/ML 和类似应用"
+++

{{< blocks/cover title="欢迎使用 Kueue" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/zh-cn/docs/">
		阅读文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubernetes-sigs/kueue">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Kubernetes 原生作业队列</p>
	{{< blocks/link-down color="info" id="description" >}}
</div>
{{< /blocks/cover >}}

<div id="description" ></div>

{{% blocks/lead color="primary"%}}
<h1 class="text-center">Kueue 是一个云原生的作业队列系统，适用于 Kubernetes 集群中的批处理、HPC、AI/ML 和类似应用。</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
<h1 class="text-center">使用 Kueue 构建具有配额和层次结构的多租户批处理服务，在组织内的团队间共享资源。基于可用配额，Kueue 决定作业何时等待以及何时何地运行。</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
<h1 class="text-center">Kueue 与标准的 kube-scheduler、cluster-autoscaler 和 Kubernetes 生态系统的其余部分结合使用。这种组合允许 Kueue 在本地和云端运行，资源可以是异构的、可替换的和动态配置的。</h1>
{{% /blocks/lead %}}

{{< blocks/section color="light" type="row">}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献！" url="https://github.com/kubernetes-sigs/kueue" %}}
我们在 **GitHub** 上使用 [Pull Request](https://github.com/kubernetes-sigs/kueue/pulls) 贡献工作流。始终欢迎新用户！
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="与我们联系" url="https://kubernetes.slack.com" %}}
在 [#wg-batch](https://kubernetes.slack.com/messages/wg-batch) 频道与贡献者交流
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="加入邮件组" url="https://groups.google.com/a/kubernetes.io/g/wg-batch" %}}
在[邮件组](https://groups.google.com/a/kubernetes.io/g/wg-batch)中加入对话
{{% /blocks/feature %}}

{{< /blocks/section >}}