---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: resourceflavors.kueue.x-k8s.io
spec:
  group: kueue.x-k8s.io
  names:
    kind: ResourceFlavor
    listKind: ResourceFlavorList
    plural: resourceflavors
    singular: resourceflavor
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourceFlavor is the Schema for the resourceflavors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          labels:
            additionalProperties:
              type: string
            description: 'labels associated with this flavor. They are matched against
              or converted to node affinity constraints on the workload’s pods. For
              example, cloud.provider.com/accelerator: nvidia-tesla-k80.'
            type: object
          metadata:
            type: object
          taints:
            description: taints associated with this flavor that workloads must explicitly
              “tolerate” to be able to use this flavor. For example, cloud.provider.com/preemptible="true":NoSchedule
            items:
              description: The node this Taint is attached to has the "effect" on
                any pod that does not tolerate the Taint.
              properties:
                effect:
                  description: Required. The effect of the taint on pods that do not
                    tolerate the taint. Valid effects are NoSchedule, PreferNoSchedule
                    and NoExecute.
                  type: string
                key:
                  description: Required. The taint key to be applied to a node.
                  type: string
                timeAdded:
                  description: TimeAdded represents the time at which the taint was
                    added. It is only written for NoExecute taints.
                  format: date-time
                  type: string
                value:
                  description: The taint value corresponding to the taint key.
                  type: string
              required:
              - effect
              - key
              type: object
            type: array
        type: object
    served: true
    storage: true
